<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <title>Home</title>
</head>
<body>
  <section>
    <div class="banner">
      <div class="banner-content">
        <h1>Smarter Contact Manager</h1>
        <p>Start collecting your contacts in a very smarter way. We provide very efficient and smarter way of handling contacts.</p>
        <a href="#" class="btn-get-started">Get Start</a>
      </div>
    </div>
  </section>
</body>
</html>
